x-watch-dockerfile: &watch-dockerfile
  action: rebuild
  path: towerify/Dockerfile
x-watch-composer: &watch-composer
  action: rebuild
  path: composer.json
x-watch-package: &watch-package
  action: rebuild
  path: package.json
x-watch-config: &watch-config
  action: sync+restart
  path: ./config
  target: /var/www/html/config
x-watch-routes: &watch-routes
  action: sync+restart
  path: ./routes
  target: /var/www/html/routes
x-watch-views: &watch-views
  action: sync+restart
  path: ./resources/views
  target: /var/www/html/resources/views
x-watch-themes: &watch-themes
  action: sync+restart
  path: ./resources/themes
  target: /var/www/html/resources/themes
x-watch-wave-views: &watch-wave-views
  action: sync+restart
  path: ./wave/resources/views
  target: /var/www/html/wave/resources/views
x-watch-app-sync: &watch-app-sync
  action: sync
  path: .
  target: /var/www/html
  ignore:
    - config/
    - node_modules/
    - resources/themes/
    - resources/views/
    - routes/
    - vendor/


x-common: &common
  image: cywise-ui:local-build
  build:
    context: .
    dockerfile: towerify/Dockerfile
  restart: always
  extra_hosts:
    host.docker.internal: host-gateway
  env_file:
    - .env

services:
  app:
    <<: *common
    ports:
      - target: 80
        published: 8080
    volumes:
      - ./data/scout:/var/www/html/storage/scout
    environment:
      - LOG_CHANNEL=stderr
      - DB_CONNECTION=mysql
      - DB_HOST=host.docker.internal
      - DB_PORT=3306
    develop:
      watch:
        - <<: *watch-app-sync
        - <<: *watch-dockerfile
        - <<: *watch-composer
        - <<: *watch-package
        - <<: *watch-config
        - <<: *watch-routes
        - <<: *watch-views
        - <<: *watch-themes
        - <<: *watch-wave-views
    deploy:
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first

  scheduler:
    <<: *common
    environment:
      - CONTAINER_ROLE=scheduler
      - LOG_CHANNEL=stderr
      - DB_CONNECTION=mysql
      - DB_HOST=host.docker.internal
      - DB_PORT=3306
    develop:
      watch:
        - <<: *watch-app-sync
        - <<: *watch-dockerfile
        - <<: *watch-composer
        - <<: *watch-package
        - <<: *watch-config





  lrvl9-scheduler:
    image: __DOCKER_IMAGE_NAME__:__DOCKER_IMAGE_TAG__
    extra_hosts:
      host.docker.internal: host-gateway
    env_file:
      - .env
    environment:
      - CONTAINER_ROLE=scheduler
      - APP_URL=https://__DOMAIN____PATH__
      - LOG_CHANNEL=stderr
      - DB_CONNECTION=mysql
      - DB_HOST=host.docker.internal
      - DB_PORT=3306
      - DB_DATABASE=__DB_NAME__
      - DB_USERNAME=__DB_USER__
      - DB_PASSWORD=__DB_PWD__
  lrvl9-queue:
    image: __DOCKER_IMAGE_NAME__:__DOCKER_IMAGE_TAG__
    extra_hosts:
      host.docker.internal: host-gateway
    env_file:
      - .env
    environment:
      - CONTAINER_ROLE=queue
      - APP_URL=https://__DOMAIN____PATH__
      - LOG_CHANNEL=stderr
      - DB_CONNECTION=mysql
      - DB_HOST=host.docker.internal
      - DB_PORT=3306
      - DB_DATABASE=__DB_NAME__
      - DB_USERNAME=__DB_USER__
      - DB_PASSWORD=__DB_PWD__
  lrvl9-queue-low:
    image: __DOCKER_IMAGE_NAME__:__DOCKER_IMAGE_TAG__
    extra_hosts:
      host.docker.internal: host-gateway
    env_file:
      - .env
    environment:
      - CONTAINER_ROLE=queue
      - QUEUE_NAME=low
      - APP_URL=https://__DOMAIN____PATH__
      - LOG_CHANNEL=stderr
      - DB_CONNECTION=mysql
      - DB_HOST=host.docker.internal
      - DB_PORT=3306
      - DB_DATABASE=__DB_NAME__
      - DB_USERNAME=__DB_USER__
      - DB_PASSWORD=__DB_PWD__
  lrvl9-queue-medium:
    image: __DOCKER_IMAGE_NAME__:__DOCKER_IMAGE_TAG__
    extra_hosts:
      host.docker.internal: host-gateway
    env_file:
      - .env
    environment:
      - CONTAINER_ROLE=queue
      - QUEUE_NAME=medium
      - APP_URL=https://__DOMAIN____PATH__
      - LOG_CHANNEL=stderr
      - DB_CONNECTION=mysql
      - DB_HOST=host.docker.internal
      - DB_PORT=3306
      - DB_DATABASE=__DB_NAME__
      - DB_USERNAME=__DB_USER__
      - DB_PASSWORD=__DB_PWD__
  lrvl9-queue-critical:
    image: __DOCKER_IMAGE_NAME__:__DOCKER_IMAGE_TAG__
    extra_hosts:
      host.docker.internal: host-gateway
    env_file:
      - .env
    environment:
      - CONTAINER_ROLE=queue
      - QUEUE_NAME=critical
      - APP_URL=https://__DOMAIN____PATH__
      - LOG_CHANNEL=stderr
      - DB_CONNECTION=mysql
      - DB_HOST=host.docker.internal
      - DB_PORT=3306
      - DB_DATABASE=__DB_NAME__
      - DB_USERNAME=__DB_USER__
      - DB_PASSWORD=__DB_PWD__
    deploy:
      replicas: 3
  lrvl9-queue-scout:
    image: __DOCKER_IMAGE_NAME__:__DOCKER_IMAGE_TAG__
    extra_hosts:
      host.docker.internal: host-gateway
    env_file:
      - .env
    environment:
      - CONTAINER_ROLE=queue
      - QUEUE_NAME=scout
      - APP_URL=https://__DOMAIN____PATH__
      - LOG_CHANNEL=stderr
      - DB_CONNECTION=mysql
      - DB_HOST=host.docker.internal
      - DB_PORT=3306
      - DB_DATABASE=__DB_NAME__
      - DB_USERNAME=__DB_USER__
      - DB_PASSWORD=__DB_PWD__
    volumes:
      - ./data/scout:/var/www/html/storage/scout
===============================
  ==> Accès à MariaDB depuis un container
Modification de :
  sudo nano /etc/mysql/mariadb.conf.d/50-server.cnf
Changement de :
  bind-address            = 127.0.0.1
par :
  bind-address            = 0.0.0.0
Puis : sudo systemctl restart mariadb
  
  ==> L'utilisateur peut se connecter depuis autre chose que localhost
  sudo mariadb -u root
  MariaDB [(none)]> CREATE USER 'towerify1x'@'%' IDENTIFIED BY 'towerify1x';
  MariaDB [(none)]> GRANT USAGE ON *.* TO `towerify1x`@`%`;
  MariaDB [(none)]> GRANT ALL PRIVILEGES ON `towerify1x`.* TO `towerify1x`@`%`;
  MariaDB [(none)]> FLUSH PRIVILEGES;
  
  MariaDB [(none)]> CREATE USER 'cywise_ui_prod'@'%' IDENTIFIED BY 'cywise_ui_prod';
  MariaDB [(none)]> GRANT USAGE ON *.* TO `cywise_ui_prod`@`%`;
  MariaDB [(none)]> GRANT ALL PRIVILEGES ON `cywise_ui_prod`.* TO `cywise_ui_prod`@`%`;
  MariaDB [(none)]> FLUSH PRIVILEGES;
===============================




